.detail-container {
  height: 100vh;
  .button-container {
    padding: 0.3rem 1rem;
    .nav-button-container {
      margin-left: auto;
    }
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .image-wrapper {
      .image-content {
        height: 80vh;
        width: 90vw;
        object-fit: contain;
        filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.3));
      }
    }
  }

  .caption-container {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    .caption {
      color: #666;
    }
  }
}
