/*.mat-icon,
.mat-icon-button {
  font-size: 50px;
  display: block;
  height: 50px;
  width: 50px;
}

.mat-icon-button i,
.mat-icon-button,
.mat-icon-button .mat-icon {
  line-height: 50px;
}*/

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  padding: 0 1rem;
}

.image-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .image-wrapper {
    .image-content {
      height: calc(100vh - 250px);
      width: calc(70vw);
      object-fit: contain;
      filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.3));
    }
  }
}

.nav-button-container {
  margin-left: auto;
}
.caption-container {
  display: flex;
  height: 150px;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  .caption {
    color: #666;
  }
}
